# Ensure systemd services and timers for absent configs are cleaned up

---

- name: Ensure absent backup timers are disabled
  ansible.builtin.systemd:
    name: 'borgmatic-{{ item.name }}.timer'
    scope: '{{ borgmatic_systemd_scope }}'
    state: stopped
    enabled: false
  no_log: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  loop: '{{ borgmatic_absent_configs }}'

- name: Ensure absent backup timers are removed
  ansible.builtin.file:
    path: '{{ borgmatic_systemd_path }}/borgmatic-{{ item.name }}.timer'
    state: absent
  no_log: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  loop: '{{ borgmatic_absent_configs }}'

- name: Ensure absent backup services are removed
  ansible.builtin.file:
    path: '{{ borgmatic_systemd_path }}/borgmatic-{{ item.name }}.service'
    state: absent
  no_log: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  loop: '{{ borgmatic_absent_configs }}'

- name: Ensure absent check timers are disabled
  ansible.builtin.systemd:
    name: 'borgmatic-check-{{ item.name }}.timer'
    scope: '{{ borgmatic_systemd_scope }}'
    state: stopped
    enabled: false
  no_log: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  loop: '{{ borgmatic_absent_configs }}'

- name: Ensure absent check timers are removed
  ansible.builtin.file:
    path: '{{ borgmatic_systemd_path }}/borgmatic-check-{{ item.name }}.timer'
    state: absent
  no_log: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  loop: '{{ borgmatic_absent_configs }}'

- name: Ensure absent check services are removed
  ansible.builtin.file:
    path: '{{ borgmatic_systemd_path }}/borgmatic-check-{{ item.name }}.service'
    state: absent
  no_log: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  loop: '{{ borgmatic_absent_configs }}'
