# Ensure systemd services and timers are configured

---

# Backup services
- name: Ensure systemd service files are configured for backups
  ansible.builtin.template:
    src: borgmatic.service.j2
    dest: '{{ borgmatic_systemd_path }}/borgmatic-{{ item.name }}.service'
    owner: '{{ borgmatic_user_facts.name }}'
    group: '{{ borgmatic_user_facts.group }}'
    mode: 0644
  no_log: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  when: item.schedule.backup.oncalendar is defined
  loop: '{{ borgmatic_present_configs }}'

- name: Ensure systemd timer files are configured for backups
  ansible.builtin.template:
    src: borgmatic.timer.j2
    dest: '{{ borgmatic_systemd_path }}/borgmatic-{{ item.name }}.timer'
    owner: '{{ borgmatic_user_facts.name }}'
    group: '{{ borgmatic_user_facts.group }}'
    mode: 0644
  no_log: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  when: item.schedule.backup.oncalendar is defined
  loop: '{{ borgmatic_present_configs }}'

- name: Ensure systemd timers are enabled for backups
  ansible.builtin.systemd:
    name: 'borgmatic-{{ item.name }}.timer'
    scope: '{{ borgmatic_systemd_scope }}'
    daemon_reload: true
    state: started
    enabled: true
  no_log: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  when: item.schedule.backup.oncalendar is defined
  loop: '{{ borgmatic_present_configs }}'

# Check services
- name: Ensure systemd service files are configured for checks
  ansible.builtin.template:
    src: borgmatic-check.service.j2
    dest: '{{ borgmatic_systemd_path }}/borgmatic-check-{{ item.name }}.service'
    owner: '{{ borgmatic_user_facts.name }}'
    group: '{{ borgmatic_user_facts.group }}'
    mode: 0644
  no_log: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  when: item.schedule.check.oncalendar is defined
  loop: '{{ borgmatic_present_configs }}'

- name: Ensure systemd timer files are configured for checks
  ansible.builtin.template:
    src: borgmatic-check.timer.j2
    dest: '{{ borgmatic_systemd_path }}/borgmatic-check-{{ item.name }}.timer'
    owner: '{{ borgmatic_user_facts.name }}'
    group: '{{ borgmatic_user_facts.group }}'
    mode: 0644
  no_log: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  when: item.schedule.check.oncalendar is defined
  loop: '{{ borgmatic_present_configs }}'

- name: Ensure systemd timers are enabled for checks
  ansible.builtin.systemd:
    name: 'borgmatic-check-{{ item.name }}.timer'
    scope: '{{ borgmatic_systemd_scope }}'
    daemon_reload: true
    state: started
    enabled: true
  no_log: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  when: item.schedule.check.oncalendar is defined
  loop: '{{ borgmatic_present_configs }}'
