# Ensure host is configured for automated borg backups using borgmatic

---

- name: Ensure borgmatic is installed
  ansible.builtin.package:
    name: borgmatic
    state: present
  become: true
  when: borgmatic_install

- name: Ensure borgmatic user is configured
  ansible.builtin.user:
    name: '{{ borgmatic_user }}'
    generate_ssh_key: true
  become: true
  register: borgmatic_user_facts

- name: Set sytemd path and scope if running as root
  ansible.builtin.set_fact:
    borgmatic_systemd_path: /etc/systemd/system
    borgmatic_systemd_scope: system
  when: borgmatic_user_facts.name == 'root'

- name: Set sytemd path and scope if not running as root
  ansible.builtin.set_fact:
    borgmatic_systemd_path: '{{ borgmatic_user_facts.home }}/.config/systemd/user'
    borgmatic_systemd_scope: user
  when: borgmatic_user_facts.name != 'root'

- include_tasks: config.yml

- include_tasks: ssh.yml
  when: borgmatic_configure_ssh

- include_tasks: repositories.yml
  when: borgmatic_configure_repositories

- include_tasks: extract.yml
  when: borgmatic_perform_extract
