# Ensure repositories exist

---

- name: Ensure repositories exist
  ansible.builtin.command: >
    borgmatic init
      --verbosity 1
      --config {{ item.path }}
      --encryption {{ item.encryption }}
      --override storage.ssh_command='ssh -o BatchMode=yes'
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  changed_when: '"Initializing repository at" in borgmatic_init.stderr'
  register: borgmatic_init
  loop_control:
    label: '{{ item.name }}'
  when: item.state | default('present') == 'present'
  loop: '{{ borgmatic_configs }}'
