# Restore previous backups

---

- name: Assert that at least one borgmatic restore item is defined
  ansible.builtin.assert:
    that:
      - '{{ borgmatic_restore[0].repository }} is defined'
      - '{{ borgmatic_restore[0].destination }} is defined'
    fail_msg: Must define at least one borgmatic restore in borgmatic_restore

- name: Restore previous backups
  ansible.builtin.command: >
    borgmatic extract
    --repository {{ item.repository }}
    --archive {{ item.archive | default('latest') }}
    {% if item.paths is defined %}
      --path{% for path in item.paths %} {{ path.lstrip('/') }}{% endfor %}
    {% endif %}
    --destination {{ item.destination }}
  changed_when: true
  become_user: '{{ borgmatic_user_facts.name }}'
  become: true
  when: item.perform | default(true) != false
  loop: '{{ borgmatic_restore }}'
