# Restore previous backup from archive

---

- name: Restore previous backup from archive
  ansible.builtin.command: >
    borgmatic extract
    --repository {{ borgmatic_restore.repository | mandatory }}
    --archive {{ borgmatic_restore.archive | default('latest') }}
    {% if borgmatic_restore.paths is defined %}
      --path{% for path in borgmatic_restore.paths %} {{ path.lstrip('/') }}{% endfor %}
    {% endif %}
    --destination {{ borgmatic_restore.destination | mandatory }}
  changed_when: true
  become_user: '{{ borgmatic_user_facts.name }}'
