[Unit]
Description=borgmatic repository check service for {{ item.name }}
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Restart=no
LogRateLimitIntervalSec=0
ExecStartPre=sleep {{ item.schedule.check.delay | default('1m') }}
ExecStart=systemd-inhibit --who="borgmatic" --why="Prevent interrupting scheduled backup" \
    borgmatic check \
    --verbosity -1 \
    --syslog-verbosity 1 \
    --config {{ item.path }}
