[Unit]
Description={{ item.name }} timer for {{ item.config }} borgmatic config

[Timer]
OnCalendar={{ item.timer.oncalendar }}
Persistent=true
{% if item.timer.randomizeddelaysec is defined %}
RandomizedDelaySec={{ item.timer.randomizeddelaysec }}
{% endif %}

[Install]
WantedBy=timers.target
