[Unit]
Description={{ item.name }} service for {{ item.config }} borgmatic config
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Restart=no
LogRateLimitIntervalSec=0
ExecStartPre=sleep 1m
ExecStart=systemd-inhibit --who="borgmatic" --why="Prevent interrupting scheduled backup" \
    borgmatic {% for action in item.actions | default([]) %}{{ action }} {% endfor %}\
    --verbosity -1 \
    --syslog-verbosity 1 \
    --config {{ item.config }}
